body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 180px;
  background-color: #6B4423;
  color: white;
}

.row button{
  width: 50px;
  padding: 3px;
}

.calculate {
  width: 200px;
  padding: 3px;
}
.operator {
  background-color: pink;
  font-size: 14px;
}