<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
       
   <bean id="ques" class="springcore.q2.Question">  
   <property name="questionId" value= "1"></property>
   <property name="question" value= "What are your strengths?"></property>
   <property name="answer1">
   <list>
<value>cpp</value>
<value>react</value>
<value>angular</value>
</list>
</property>

<property name="answer2">
<set>
<value>c</value>
<value>spring</value>
<value>node</value>
</set>
</property>


<property name="answer3">
<map>

<entry key="1" value="django" />
<entry key="2" value="python" />
<entry key="3" value="java" />

</map>
</property>
</bean>
 
 
    </beans>